* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    background-color: #f9f9f9;
}

header {
    background-color: white;
    border-bottom: 2px solid;
    border-color: white;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-links a {
    text-decoration: none;
    color: #333;
    margin-left: 20px;
    padding: 10px;
}

.menu-links a:hover {
    color: blue;
}

.btn-primary {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

.home-page {
    background-color: #efefff;
    text-align: center;
    padding: 20px 20px;
}

.home-page h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.home-page p {
    font-size: 20px;
    margin-bottom: 40px;
}

.cards-container {
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    border: 1px solid;
    border-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    margin: 10px;
}

.card h2 {
    margin-bottom: 20px;
}

.btn-action {
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

section {
    padding: 40px 20px;
    text-align: center;
}

.steps-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.step-box {
    width: 30%;
    padding: 30px;
    border: 1px dashed;
}

.filter-bar {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #eee;
    margin-bottom: 30px;
    display: inline-block;
}

input, select {
    padding: 8px;
    margin: 5px;
    border: 1px solid #eee;
    border-radius: 4px;
}

.shifts-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shift-card {
    background-color: white;
    border: 1px solid #eee;
    width: 250px;
    margin: 15px;
    padding: 15px;
    text-align: right;
    border-radius: 8px;
}

.badge {
    background-color: red;
    color: white;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    float: left;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #ccc;
    margin: 0 10px;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    nav, .cards-container, .steps-container {
        flex-direction: column;
    }

    .menu-links {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .menu-links a {
        margin: 5px 0;
    }

    .card, .step-box {
        width: 100%;
        margin-bottom: 20px;
    }
}
